@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');


*,*::before,*::after{
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container{
    width: 1200px;
    margin: 0 auto;

}

/*Header start*/



.header {
    background-color: black;
}

.header__wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block {
    width: 20%;
}

.header__block:last-child {
    text-align: right;
}

.nav {
    display: flex;
}

.nav__link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 35px;
    position: relative;
}


.nav__link::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity.2s ease;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link.active::after {
    opacity: 1;
}

.header__lng {
    display: flex;
    justify-content: flex-end;
}

.header__lng-link {
    margin-right: 8px;
    color: #b7b7b7;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.header__lng-link:last-child {
    margin-right: 0;
}


.header__lng-link.active {
    color: #fff;
}

/*Header end*/

/*Intro start*/
.intro {
    background: url('../img/intro_bg.jpg');
}
/*Intro end*/